---
import Deposit from '../components/Deposit.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="canonical" href={Astro.url} />


<Layout 
  title="Deposit & Withdraw - i8 fun | Fast & Secure Transactions"
  description="Deposit and withdraw money securely on i8 fun. Fast processing, multiple payment methods, and secure transactions for your gaming account."
>
  <Header />
  <main>
    <Deposit />
  </main>
</Layout>
