---
import Deposit from '../components/Deposit.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---



<Layout 
  title="Deposit & Withdraw on i8 Fun Game | Fast & Secure Payments"
  description="Deposit and withdraw money on i8 Fun quickly and securely. Enjoy fast processing, multiple payment methods, and smooth real money transactions."
>
  <Header />
  <main>
    <Deposit />
  </main>
</Layout>
