---
import DownloadSection from '../components/DownloadSection.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---



<Layout 
  title="Download i8 fun APK - Real Money Gaming App for Android"
  description="Download the official i8 fun APK for Android. Get the latest version of our real money gaming app with secure downloads and fast installation."
>
  <Header />
  <main>
    <DownloadSection />
  </main>
</Layout>
