---
import DownloadSection from '../components/DownloadSection.astro';
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
---



<Layout 
  title="Download i8 Fun Game APK (2026) - Official Real Money App for Android"
  description="Download i8 Fun Game APK latest version (2026). Official Android app to play card & casino games, earn real money, fast withdrawals & secure payments."
>
  <script type="application/ld+json">
  {
    "@context": "https://schema.org",
    "@type": "SoftwareApplication",
    "name": "I8 Fun Game",
    "operatingSystem": "Android",
    "applicationCategory": "GameApplication",
    "offers": {
      "@type": "Offer",
      "price": "0",
      "priceCurrency": "PKR"
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.4",
      "ratingCount": "18924"
    }
  }
  </script>
  <Header />
  <main>
    <DownloadSection />
  </main>
</Layout>
