---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Description from '../components/Description.astro';
import Faq from '../components/Faq.astro';



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---


<Layout 
  title="I8 Fun Game APK Download (2026) - Real Money Earning App in Pakistan"
  description="Download i8 Fun Game APK (2026) - Pakistan's trusted real money earning app. Play card & casino games, earn cash, fast deposits & secure withdrawals."
>
  <Header />
  <main>
    <Hero />
    <Description/>
    <Faq/>
  </main>
</Layout>
