---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Description from '../components/Description.astro';
import Faq from '../components/Faq.astro';



// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="canonical" href={Astro.url} />

<Layout 
  title="i8 fun - Download Real Money Game For Android 2026"
  description="Download i8 fun - a real money card and casino game for Android. Play poker, rummy, and more. Secure, fast, and trusted gaming platform."
>
  <Header />
  <main>
    <Hero />
    <Description/>
    <Faq/>
  </main>
</Layout>
