---
import Header from '../components/Header.astro';
import LoginSection from '../components/LoginSection.astro';
import Layout from '../layouts/Layout.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="canonical" href="https://i8fungame.net/login/" />


<Layout 
  title="Login - i8 fun | Access Your Gaming Account"
  description="Login to your i8 fun account to play real money card and casino games. Secure login, instant access to poker, rummy, and more games."
>
  <Header />
  <main>
    <LoginSection />
  </main>
</Layout>
