---
import Header from '../components/Header.astro';
import Privacy from '../components/Privacy.astro';
import Layout from '../layouts/Layout.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="canonical" href="https://i8fungame.net/privacy-policy/" />


<Layout 
  title="Privacy Policy - I8 Fun | Your Data Protection"
  description="Read the I8 Fun privacy policy to understand how we collect, use, and protect your personal information. Your privacy and data security are our top priorities."
>
  <Header />
  <main>
    <Privacy />
  </main>
</Layout>
