---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ReferralComponent from '../components/Referralprogram.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---



<Layout 
  title="i8 Fun Referral Program | Earn Real Money by Inviting Friends"
  description="Join the i8 Fun referral program and earn real money by inviting friends. Get bonus rewards on every successful signup and increase your earnings."
>
  <Header />
  <main>
    <ReferralComponent />
  </main>
</Layout>
