---
import Header from '../components/Header.astro';
import Layout from '../layouts/Layout.astro';
import ReferralComponent from '../components/Referralprogram.astro';




// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="canonical" href="https://i8fungame.net/referral-program/" />


<Layout 
  title="Referral Program - i8 fun | Earn Rewards by Inviting Friends"
  description="Join the i8 fun referral program and earn rewards by inviting friends. Get bonus cash for every successful referral and grow your earnings."
>
  <Header />
  <main>
    <ReferralComponent />
  </main>
</Layout>
